APP_ENV=dev
BASE_PATH=/ # pokud bude nasazeno v subadresáři, např. /improtresk2026


DB_HOST=127.0.0.1
DB_NAME=improtresk2026
DB_USER=root
DB_PASS=rootpassword


# Platební údaje (CZ QR platba – SPD)
PAYMENT_IBAN=CZ7220100000002800754192
PAYMENT_CURRENCY=CZK
PAYMENT_MESSAGE=Improtresk 2026
# fallback cena – pokud workshop nemá specifickou cenu
DEFAULT_WORKSHOP_FEE=1200.00

# Datum zahájení registrací (formát: YYYY-MM-DD HH:MM:SS)
REGISTRATION_START="2026-03-01 10:00:00"

# Fio banka – API token
BANK_TOKEN=your_fio_api_token_here

# Secret token for the /cron endpoint (generate with: openssl rand -hex 32)
CRON_SECRET=pokus

# Secret token for the /hero/heroine  endpoint 
HERO_SECRET="password"


# SMTP (pro odesílání e-mailů přes PHPMailer)
MAIL_HOST=smtp.example.com
MAIL_PORT=587
MAIL_USERNAME=your@email.com
MAIL_PASSWORD=yourpassword
MAIL_ENCRYPTION=tls          # tls | ssl | (prázdné = bez šifrování)
MAIL_FROM_ADDRESS=noreply@improtresk.cz
MAIL_FROM_NAME="Improtřesk"
MAIL_REPLY_TO=improtresk@improlab.art
