<div class="disclaimer container">
    Tento web se zatím tvoří, registrace chceme spustit začátkem dubna. <br>
    Účastnit se budete moci dvoudenního workshopu pá+sobota, případně jednodeního  v sobotu (který se s těmi dvoudenními kryjo), a jednodenních a půldeních v neděli.<br>
    Vstupenka na libovolný workshop opravňuje i ke vstupu na večerní/doprovodné programy.
    <br>Na webu, programu, vizuálu i nacenení se stále pracuje. Ani tahle sekce nemusí mít finální pravdu.
</div>