<div class="disclaimer container">
    Tento web se zatím tvoří, registrace chceme spustit začátkem dubna. Zhruba v půli dubna začneme plniti reálným obsahem.<br>
    Účastnit se budete moci dvoudenního workshopu pá+sobota, případně jednodeního  v sobotu (který se s těmi dvoudenními kryjoe), a jednodenních a půldeních v neděli.<br>
    Vstupenka na workshopy na jeden den opravňuje i ke vstupu na večerní/doprovodný program ten den. Cena za festival na celou dobu se bude blížit prostému nasčítání cen za workshopy.<br>
    Budeme mít nějaké samostatné vstupenky aj na večerní programy.<br>
    Na webu, programu, vizuálu i nacenení se stále pracuje. Ani tahle sekce nemusí mít finální pravdu.
</div>