<!-- Notification -->
<div id="notification" class="notification hidden">
    <div class="notification-content">
        <span id="notification-message"></span>
        <button id="notification-close">&times;</button>
    </div>
</div>
