{% extends 'base.twig' %}

{% block title %}Administrace – Export | Improtřesk 2026{% endblock %}

{% block content %}
<div class="container">
    <h1>Administrace</h1>
    {% include 'sections/admin_navigation.twig' with { active_tab: 'export' } %}
    {% include 'sections/admin-export.twig' %}
</div>
{% endblock %}
