{% extends 'base.twig' %}
{% block title %}Administrace – Statické bloky | Improtřesk 2026{% endblock %}

{% block content %}
<div class="container">
    <h1>Administrace</h1>
    {% include 'sections/admin_navigation.twig' with { active_tab: 'static-blocks' } %}
    {% include 'sections/admin-static-blocks.twig' %}
</div>
{% endblock %}
