{% extends 'base.twig' %}

{% block title %}Administrace – Prezenčky | Improtřesk 2026{% endblock %}

{% block content %}
<div class="container">
    <h1>Administrace</h1>
    {% include 'sections/admin_navigation.twig' with { active_tab: 'attendance' } %}
    {% include 'sections/admin-attendance.twig' %}
</div>
{% endblock %}
