<!-- Contact Page -->
<div class="container">
        <h1>Kontakt</h1>
        <div class="contact-info">
            <div class="card">
                <div class="card__body">
                    <h3>Organizátor</h3>
                    <img style="margin-bottom:5px;" src="\sysimg\improliga.png">
                    {% include 'inlines/static-block.twig' with {'field': 'contact_org'} %}
                    
                </div>
            </div>
            
            <div class="card">
                <div class="card__body">
                        <h3>Partner festivalu - Žižkostel </h2>
                        <img src="/sysimg/zizkostel.png" style="width:100%;">
                        {% include 'inlines/static-block.twig' with {'field': 'contact_zizkostel'} %}
                        
                </div>
            </div>


             <div class="card">
                <div class="card__body">
                        <h3>Partner festivalu - Fostra </h2>
                        <img src="/sysimg/fostra.png" style="width:100%;">
                        {% include 'inlines/static-block.twig' with {'field': 'contact_fostra'} %}
                </div>
            </div>
            

            
            {% for field in ['contact_sponsor1','contact_sponsor2','contact_sponsor3'] %}
            {% for block in static  %}{%  if block.block_name == field %}
            <div class="card">
                <div class="card__body">
                        <h3>{{ block.title }} </h2>
                        {{ block.content|raw}}
                </div>
            </div>                
        {% endif %}{% endfor %}{% endfor %}
        




            <div class="card">
                <div class="card__body">
                    <h3>Mediální partneři</h3>
                    <p>Pro média a tiskové zprávy:<br>
                    Email: improtresk@improlab.art</p>
                </div>
            </div>
            <div class="card">
                <div class="card__body">
                    <a href="/medailonky#sekce_Organizátorstvo"><h3>Organizátorstvo</h3></a>
                    <ul>
                        <li>Martin Dočkal</li>
                        <li>Dana Kardová  (Baňule)</li>
                         <li>Jan  Kloboučník (Klobouk)</li>
                        <li>Václav Černý</li>
                    </ul>
                </div>
            </div>
            <div class="card">
                <div class="card__body">
                    <a href="/medailonky#sekce_Spoluorganizátorstvo"><h3>Spoluorganizátorstvo</h3></a>
                    <ul>
                        <li>Jana Pokorná</li>
                        <li>Michaela Konopásková</li>
                        <li>David Frinta</li>
                        <li>Barbora Danišová</li>
                       
                    </ul>

                </div>
            </div>

            {% for field in ['contact_org3','contact_org4','contact_org4'] %}
            {% for block in static  %}{%  if block.block_name == field %}
            <div class="card">
                <div class="card__body">
                        <h3>{{ block.title }} </h2>
                        {{ block.content|raw}}
                </div>
            </div>                
            {% endif %}{% endfor %}{% endfor %}

        </div>    
    </div>
</div>

