<!-- Contact Page -->
<div class="container">
        <h1>Kontakt</h1>
        <div class="contact-info">
            <div class="card">
                <div class="card__body">
                    <h3>Organizátor</h3>
                    <img style="margin-bottom:5px;" src="\sysimg\improliga.png">
                    <p>Česká improvizační liga z.s.<br>
                    Web: <a href="https:\\improliga.cz">improliga.cz</a><br>
                    FB: <a href="https:\\improliga.cz">improliga.cz</a><br>
                    Festivalový email: <a href="mailto:improtresk@improlab.art">improtresk@improlab.art</a><br>
                    Program: +420 723 538 317<br>
                    Web+registrace: +420 604 209 354
                    
                    
                     </p>
                </div>
            </div>
            <div class="card">
                <div class="card__body">
                    <h3>Mediální partneři</h3>
                    <p>Pro média a tiskové zprávy:<br>
                    Email: improtresk@improlab.art</p>
                </div>
            </div>
            <div class="card">
                <div class="card__body">
                    <a href="/medailonky#sekce_Organizátorstvo"><h3>Organizátorstvo</h3></>
                    <ul>
                        <li>Martin Dočkal</li>
                        <li>Dana Kardová </li>
                        <li>Václav Černý</li>
                    </ul>
                </div>
            </div>
            <div class="card">
                <div class="card__body">
                    <a href="/medailonky#sekce_Spoluorganizátorstvo"><h3>Spoluorganizátorstvo</h3></a>
                    <ul>
                        <li>Jana Pokorná</li>
                        <li>Michaela Konopásková</li>
                        <li>David Frinta</li>
                        <li>Barbora Danišová</li>
                        <li>Klobouk</li>
                    </ul>

                </div>
            </div>
        </div>    
    </div>
</div>
