<!-- Contact Page -->
<div class="container">
        <h1>Kontakt</h1>
        <div class="contact-info">
            <div class="card">
                <div class="card__body">
                    <h3>Organizátor</h3>
                    <p>Česká improvizační liga z.s.<br>
                    Email: improtresk@improlab.art<br>
                    Telefon: +420 ??? </p>
                </div>
            </div>
            <div class="card">
                <div class="card__body">
                    <h3>Mediální partneři</h3>
                    <p>Pro média a tiskové zprávy:<br>
                    Email: improtresk@improlab.art</p>
                </div>
            </div>
            <div class="card">
                <div class="card__body">
                    <h3>Organizátoři</h3>
                    <ul>
                        <li>Martin Dočkal</li>
                        <li>Dana Kardová </li>
                        <li>Václav Černý</li>
                    </ul>
                </div>
            </div>
            <div class="card">
                <div class="card__body">
                    <h3>Další organizátoři</h3>
                    <ul>
                        <li>Jana Pokorná</li>
                        <li>Michaela Konopásková</li>
                        <li>David Frinta</li>
                        <li>Barbora Danišová</li>
                        <li>Klobouk</li>
                    </ul>

                </div>
            </div>
        </div>    
    </div>
</div>
