<!-- User Dashboard -->
<div class="container">
    <h1>Můj profil</h1>
    <div class="dashboard-content">
        <div class="card">
            <div class="card__body">
                <h3>Základní informace</h3>
                <div id="user-info">
                    <!-- User info will be inserted here -->
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card__body">
                <h3>Má registrace</h3>
                <div id="user-registration">
                    <!-- Registration info will be inserted here -->
                </div>
            </div>
        </div>
    </div>
</div>
