<!-- Homepage -->
<div class="hero">
    <div class="container">
        <div class="hero-content">
            <h1>Improtřesk 2026</h1>
            <p class="hero-subtitle"><img src="/sysimg/logo.png" alt="Logo festivalu" width=400></p>
            <p class="hero-subtitle">Mezinárodní festival improvizačního divadla</p>
            <div class="hero-info">
                <div class="info-item">
                    <strong>Kdy:</strong> 7.-10. květen 2026
                </div>
                <div class="info-item">
                    <strong>Kde:</strong>  Praha
                </div>
                <div class="info-item">
                    <strong>Vstupné:</strong> ???? Kč
                </div>
            </div>
            <a href="/workshop/register" class="btn btn--primary btn--lg">Zaregistruj se</a>
        </div>
    </div>
</div>
