<!-- Information Page -->
<div class="container">
    <h1>Informace</h1>
    <div class="info-sections">
        <div class="card">
            <div class="card__body">
                <h3> <img src="/sysimg/icon_z.png" style="height:1em"/> Místo konání večerního programu</h3>
                {% include 'inlines/static-block.twig' with {'field': 'info_1'} %}                
            </div>
        </div>
        <div class="card">
            <div class="card__body">
                <h3> <img src="/sysimg/icon_w.png" style="height:1em"/> <img src="/sysimg/icon_z.png" style="height:1em"/> Místa konání workshopů</h3>
                {% include 'inlines/static-block.twig' with {'field': 'info_2'} %}
            </div>
        </div>
   
        <div class="card">
            <div class="card__body">
                <h3>
                
                 <img src=" /sysimg/icon_u.png" style="height:1em"/>              
                Ubytování</h3>
                {% include 'inlines/static-block.twig' with {'field': 'info_3'} %}
                
            </div>
        </div>
        

        
        {% for field in ['info_4','info_5','info_6','info_7'] %}
            {% for block in static  %}{%  if block.block_name == field %}
            <div class="card">
                <div class="card__body">
                        <h3>{{ block.title }} </h2>
                        {{ block.content|raw}}
                </div>
            </div>                
        {% endif %}{% endfor %}{% endfor %}
        
        
        

        <div class="card">
            <div class="card__body">
                <div id=map style="height:400px;"></div>
            </div>
        </div>

       

        <div class="card">
            <div class="card__body">
            <h3>Historie festivalu</h3>
<p>Improtřesk odstartoval v roce 2011 jako oslava 10 let Pralin a Improligy  – a  to  v SVČ Lužánky v Brně.
V roce 2012 si v Brně podržel domov, 2013 přišel s podtitulem Divadlo do improligy, improliga do divadla. Organizace se ujala skupina Bafni, která festival vedla i v roce 2014 s mottem Get inspired.
Od roku 2015 se Improtřesk přestěhoval do Milevska a do rukou České improvizační ligy a přátel. Čtyři ročníky v Kulturním domě Milevsko přinesly postupně témata Sladíme se (2015), Na stejné vlnové délce (2016), Na vlastní kůži (2017) a Otevřeno nonstop (2018).
</p><p>Rok 2019 znamenal další přesun – tentokrát do Ostravy, kde organizaci převzalo Divadlo Odvaz. V pandemickém roku 2020  se festival bohužel na poslední chvíli zrušil, ale Ostrava se vrátila se ctí v letech 2023, 2024 a 2025.
A co nás čeká v roce 2026? Improtřesk se přesouvá do Prahy a organizace se opět ujímá České improvizační liga.</p>
        </div>
    </div>


    




    </div>
</div>

{% block stylesheets %}
<link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css"
     integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY="
     crossorigin=""/>
{% endblock %}

{% block javascripts %}
    <script src="{{ asset_url }}" type="text/javascript"></script>    
    <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"
     integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo="
     crossorigin=""></script>
        <script >
        var map = L.map('map').setView([50.0877244,14.4611761], 15);

L.tileLayer('https://tile.openstreetmap.org/{z}/{x}/{y}.png', {
    attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'
}).addTo(map);

    var busIcon = L.icon({
    iconUrl: '/sysimg/bus.png',
    //shadowUrl: 'leaf-shadow.png',
    iconSize:     [29, 31], // size of the icon
    //shadowSize:   [50, 64], // size of the shadow
    iconAnchor:   [15, 15], // point of the icon which will correspond to marker's location
    //shadowAnchor: [4, 62],  // the same for the shadow
    //popupAnchor:  [-3, -76] // point from which the popup should open relative to the iconAnchor
    });
    L.marker([50.0890367, 14.4623269], {icon: busIcon}).addTo(map);


    var tramIcon = L.icon({
    iconUrl: '/sysimg/tram.png',
    //shadowUrl: 'leaf-shadow.png',

    iconSize:     [29, 31], // size of the icon
    //shadowSize:   [50, 64], // size of the shadow
    iconAnchor:   [15, 15], // point of the icon which will correspond to marker's location
    //shadowAnchor: [4, 62],  // the same for the shadow
    //popupAnchor:  [-3, -76] // point from which the popup should open relative to the iconAnchor
    });
    L.marker([50.0902739, 14.4679192], {icon: tramIcon}).addTo(map);

    var wsIcon = L.icon({
    iconUrl: '/sysimg/icon_w.png',
    //shadowUrl: 'leaf-shadow.png',
    iconSize:     [29, 31], // size of the icon
    //shadowSize:   [50, 64], // size of the shadow
    iconAnchor:   [15, 15], // point of the icon which will correspond to marker's location
    //shadowAnchor: [4, 62],  // the same for the shadow
    //popupAnchor:  [-3, -76] // point from which the popup should open relative to the iconAnchor
    });
    L.marker([
        50.0880771,14.4602726], {icon: wsIcon}).addTo(map);



    var skautIcon = L.icon({
    iconUrl: '/sysimg/icon_u.png',
    //shadowUrl: 'leaf-shadow.png',
    iconSize:     [29, 31], // size of the icon
    //shadowSize:   [50, 64], // size of the shadow
    iconAnchor:   [15, 15], // point of the icon which will correspond to marker's location
    //shadowAnchor: [4, 62],  // the same for the shadow
    //popupAnchor:  [-3, -76] // point from which the popup should open relative to the iconAnchor
    });
    L.marker([50.0842755, 14.4631772], {icon: skautIcon}).addTo(map);


    //poslední takže nejvýše
    var zizkostelIcon = L.icon({
    iconUrl: '/sysimg/icon_z.png',
    //shadowUrl: 'leaf-shadow.png',
    iconSize:     [29, 31], // size of the icon
    //shadowSize:   [50, 64], // size of the shadow
    iconAnchor:   [15, 15], // point of the icon which will correspond to marker's location
    //shadowAnchor: [4, 62],  // the same for the shadow
    //popupAnchor:  [-3, -76] // point from which the popup should open relative to the iconAnchor
    });
    L.marker([50.0878733, 14.4610983], {icon: zizkostelIcon}).addTo(map);





        </script>

{% endblock %}