<!-- Information Page -->
<div class="container">
    <h1>Informace</h1>
    <div class="info-sections">
        <div class="card">
            <div class="card__body">
                <h3>Místo konání</h3>
                <p> Praha<br>
                Náměstí Pražanů<br>
                110 00 Praha 1</p>
            </div>
        </div>
        <div class="card">
            <div class="card__body">
                <h3>Doprava</h3>
                <p>Metro: Stanice Praha (linka A)<br>
                Autobus: Linky 1,2,3,4,5<br>
                Parkování: Placené parkoviště 200m od centra</p>
            </div>
        </div>
        <div class="card">
            <div class="card__body">
                <h3>Ubytování</h3>
                <p>Doporučujeme hotely v okolí:<br>
                - Hotel Praha (500m)<br>
                - Pension Centrum (800m)<br>
                - Hostel Students (1km)</p>
            </div>
        </div>
        <div class="card">
            <div class="card__body">
                <h3>Ceny vstupného</h3>
                <p>Základní vstupné: 1200 Kč<br>
                Workshop: dle výběru (4000-70000 Kč)<br>
                Slevy pro studenty: 0%</p>
            </div>
        </div>
    </div>
</div>
