<!DOCTYPE html>
<html lang="cs">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Improtřesk 2026 - Festival improvizačního divadla{% endblock %}</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Flex:opsz,wght,XOPQ,XTRA,YOPQ,YTDE,YTFI,YTLC,YTUC@8..144,100..1000,96,468,79,-203,738,514,712&family=Sancreek&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/style.css">
    {% block stylesheets %}{% endblock %}

</head>
<body>
    {% include 'partials/navigation.twig' %}

    <main class="main-content">
        {% block content %}{% endblock %}
    </main>

    {% include 'partials/modals.twig' %}
    {% include 'partials/notification.twig' %}

    <script src="/js/app.js"></script>
    {% block javascripts %}{% endblock %}
</body>
</html>
