<p>
Zaregistrujte se workshop, na který chcete.
Pro nové registrace systém nenabízí ty, na které se nevejdete.
Budete vyzváni k platbě. Pokud je kapacita plná, jste pod čarou – čekáte, zda se místo uvolní.
Po registraci máte na platbu <strong>6 hodin</strong>. Pokud nezaplatíte, místo se uvolní, aněkdo další si ho bude moci registrovat.
</p>
<p>Vstupenka na dvoudenní, nebo celodenní workshop opravňuje i ke vstupu na večerní a doprovodný program.</p>



