<p>Zaregistrujte se na všechny workshopy, které vás zajímají. Začněte tím, který chcete nejvíc – pořadí registrace totiž určuje vaši prioritu.
Každý workshop má omezenou kapacitu. Pokud jste se do ní vešli, jste nad čarou – máte místo rezervované a budete vyzváni k platbě. Pokud je kapacita plná, jste pod čarou – čekáte, zda se místo uvolní.
Můžete být nad čarou u více workshopů najednou – platbou se pak dostanete na ten dříve registrovaný (s větší prioritou). 
Po registraci máte na platbu 5 dní. Pokud nezaplatíte, vaše místo se uvolní dalšímu v pořadí.
Pokud  se náhodou uvolní místo nad čarou na workshopu dříve registrovaném (s větší prioritou), automaticky se v okamžiku platby dostanete tam.
</p>
